ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

/* Month 헤더 */
.month {
    padding: 70px 25px;
    width: 100%;
    background: #1abc9c; 
}

/* 월 리스트 */
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* <버튼*/
.month .prev {
    float: left;
    padding-top: 10px;
}

/* >버튼 */
.month .next {
    float: right;
    padding-top: 10px;
}

/* 월~일요일 까지 */
  .weekdays {
   margin-top:0;
   margin-bottom:0;
   margin-left:-1%;
}  

.weekdays li {
    display: inline-block;
    width: 13.7%;
    color:black;
    text-align: center;
    font-size:30px;
}

/* 1일부터 31일까지 */
 .days {
    margin-left:-1%;
}
 
li div{
height:100%;
}
.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:20px;
    font-family:한나;
    border:2px solid #5e5e5e;
    height:100px;
    border-radius:12px;
    display: inline-block;
    position: relative;
}

/* Highlight the "current" day */
/* 강조 날짜 */
.days li .active {
    background: #1abc9c;
    color: white !important;
}
.days li .activee {
    background: #ffa6a6;
    color: #9b0000 !important;
    border-radius:10px;
}
hr{
margin-top:0px;
/* border:1px solid #5e5e5e; */	
}
#calCar{
	width:100% !important;	
	height:237px !important;
}
#datee{
	 padding: 10px 0 !important;
    background: #eee !important;
    margin: 0 !important;
	
}
#weekdatee{
	padding-top:1px;
	padding-bottom: 1px;
    background-color:#ddd;
    font-family:한나;

	
}