
@CHARSET "UTF-8";

/* freeBoardList */


#freeLogo{
	margin:1% auto 1% 5%;
	border:2px solid #3EAF0E;
	border-style: dashed;
	width:90%;
}
  /* .table-hover{
  background-color:gray; 
  width:50%; margin:0 auto; 
  color:black;
  font-family:한나;
  font-size:13pt;
  } */
#blt{
	width:90%;
	margin:1% auto;
	font-family:한나;
	font-size:12pt;
	
	
	
}
#blt tr:hover{
	background-color: #8bdb69;
	
}
#blt tr td a{
	text-decoration: none;
	color:black;
}
/* freeBoardList 끝 */

/* freeBoardDeatil */

#bdt{
	width:90%;
	margin:1% auto;
	font-family:한나;
	font-size:12pt;
	
}

/* freeBoardDeatil 끝*/

/* freeBoardWrite */



/* freeBoardWrite 끝*/

