@CHARSET "UTF-8";

#freeLogo{
	margin:1% auto 1% auto;
	border:1px solid #5d5d5d;
	
	width:100%;
}

.mypageMemu{
	width:100%;
}
.mypageMemu tr{
	height:20%;
}
.mypageMemu button{
	background-color: #3EAF0E;
	font-family:한나;
	font-size:15pt;
	color:white;
	width:100%;
	height:40px;
	

}
.mypageMemu button:hover{
	background-color: #006f00;
}

*{
font-family:한나;
}

article{
border:1px solid #c1c1c1;
margin-top:1%;
margin-bottom:1%;
}
#pointhover{
font-size:12pt;
}
#pointhover:hover{
background-color: #8bdb69;
}

.table>tbody>tr>th{
border-top:none;
}